@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter';
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url('./images/header-img.jpg');
  min-height: 13rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

hr {
  background: grey;
  width: 100%;
}

.search-bar {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  align-items: center;
  width: 75%;
  border-radius: 0.375em;
  min-height: 2.375rem;
  color: #374151;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}

.search-container {
  width: 90%;
}
.search-input {
  border: none;
  width: 87%;
}

.search-btn {
  padding: 0.5em 0.6em;
  border: none;
  background-color: #f9fafb;
  border-radius: inherit;
  color: inherit;
  min-width: 10%;
  align-self: stretch;
}
.search-btn:hover {
  background-color: #ece7e7;
}

.search-icon {
  padding-left: 0.5em;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 13rem);
  padding: 4em;
  gap: 2em;
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.placeholder-img {
  height: 3.125em; /* Equivalent to 50px */
  width: 3.125em; /* Equivalent to 50px */
}
/* movie container */
.movie-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 1em;
}

.poster-container {
  max-height: 482px;
  max-width: 326px;
}
.movie-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.poster {
  height: 100%;
  width: 100%;
}

.movie-headline {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  justify-content: space-between;
}

.movie-info {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.movie-info * {
  font-size: 0.7em;
}

.watchlist-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: inherit;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }

  .movie-container {
    display: flex;
    flex-direction: row; /* Display elements side by side */
    gap: 3em;
    height: 100%;
    width: 90vw;
    justify-content: space-between;
  }

  .poster-container {
    flex: 1; /* Use flex property to adjust width */
  }

  .movie-content {
    flex: 2; /* Use flex property to adjust width */
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }

  .movie-headline {
    display: flex;
    justify-content: start;
    gap: 1em;
  }
}
